@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "d e f g"
    "h h i j"
    "k k k k"
    "l l m m"
    "n n n n";
}

.grid-item-bg:nth-child(1) {
  grid-area: a;
}

.grid-item-bg:nth-child(2) {
  grid-area: b;
}

.grid-item-bg:nth-child(3) {
  grid-area: c;
}

.grid-item-bg:nth-child(4) {
  grid-area: d;
}

.grid-item-bg:nth-child(5) {
  grid-area: e;
}

.grid-item-bg:nth-child(6) {
  grid-area: f;
}

.grid-item-bg:nth-child(7) {
  grid-area: g;
}

.grid-item-bg:nth-child(8) {
  grid-area: h;
}

.grid-item-bg:nth-child(9) {
  grid-area: i;
}

.grid-item-bg:nth-child(10) {
  grid-area: j;
}

.grid-item-bg:nth-child(11) {
  grid-area: k;
}

.grid-item-bg:nth-child(12) {
  grid-area: l;
}

.grid-item-bg:nth-child(13) {
  grid-area: m;
}

.grid-item-bg:nth-child(14) {
  grid-area: n;
}

button {
  display: block;
  background-image: url("../img/hamburger.png");
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.grid-item-bg:nth-child(1) {
  background-image: url("../img/hero.png");
  height: 900px;
}

.grid-item-bg:nth-child(2) {
  background-image: url("../img/self.png");
  width: 800px;
  height: 500px;
}

.grid-item-bg:nth-child(3) {
  background-color: #f3f1ef;
}

.grid-item-bg:nth-child(4) {
  background-image: url("../img/lift.png");
  width: 400px;
  height: 515px;
}

.grid-item-bg:nth-child(5) {
  background-image: url("../img/skier.png");
  width: 400px;
  height: 515px;
}

.grid-item-bg:nth-child(6) {
  background-image: url("../img/ski.png");
  width: 400px;
  height: 515px;
}

.grid-item-bg:nth-child(7) {
  background-image: url("../img/mountain.png");
  width: 400px;
  height: 515px;
}

.grid-item-bg:nth-child(8) {
  background-color: #3f729b;
}

.grid-item-bg:nth-child(9) {
  background-image: url("../img/inventory.png");
  width: 400px;
  height: 515px;
}

.grid-item-bg:nth-child(10) {
  background-color: #3f729b;
  width: 400px;
  height: 515px;
}

.grid-item-bg:nth-child(11) {
  background-image: url("../img/disco.png");
  height: 900px;
}

.grid-item-bg:nth-child(12) {
  background-color: #2ebd59;
}

.grid-item-bg:nth-child(13) {
  background-color: #282b2f;
}

.grid-item-bg:nth-child(14) {
  background-color: #212227;
}

h1 {
  font-size: 72px;
  font-family: "Fira-Light";
}

.grid-item:nth-child(1) p {
  font-size: 30px;
  font-family: "Fira-Light";
}

.grid-item:nth-child(1) span {
  font-size: 30px;
  font-family: "Fira-Bold";
}

.grid-item:nth-child(3) h2 {
  font-size: 24px;
  font-family: "Fira-Bold";
  color: #666666;
  text-transform: uppercase;
}

.grid-item:nth-child(3) p {
  font-size: 36px;
  font-family: "Fira-Light";
  color: #666;
}

.grid-item:nth-child(8) h2 {
  font-size: 24px;
  font-family: "Fira-Bold";
  text-transform: uppercase;
  color: #fff;
}

.grid-item:nth-child(8) p {
  font-size: 36px;
  font-family: "Fira-Light";
  color: #fff;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-family: "Fira-Bold";
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 20px;
  display: block;
  max-width: 150px;
  text-align: center;
}

.grid-item-block {
  display: inline-block;
  background-color: #212227;
}

.grid-item-block h2 {
  font-size: 36px;
  font-family: "Fira-Bold";
  text-transform: uppercase;
  color: #2ebd59;
}

.grid-item-block h3 {
  font-size: 18px;
  font-family: "Fira-Regular";
  text-transform: uppercase;
  color: #2ebd59;
}

.grid-item-block p {
  font-size: 14px;
  color: #fff;
  font-family: "Fira-Regular";
}

.grid-item-block a {
  font-size: 18px;
  font-family: "Fira-Bold";
  text-transform: uppercase;
  color: #2ebd59;
  border: 2px solid #2ebd59;
  display: block;
  max-width: 150px;
  text-align: center;
}

.grid-item:nth-child(13) h2,
.grid-item:nth-child(14) h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Fira-Bold";
  color: #fff;
}

.grid-item:nth-child(13) p,
.grid-item:nth-child(14) p {
  font-size: 36px;
  font-family: "Fira-Light";
  color: #f9f9f9;
}

.footer-item:nth-child(1) h3,
.footer-item:nth-child(2) h3,
.footer-item:nth-child(3) h3,
.footer-item:nth-child(4) h3,
.footer-item:nth-child(5) h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Fira-Bold";
  color: #fff;
}

.footer-item:nth-child(1) p,
.footer-item:nth-child(2) p,
.footer-item:nth-child(4) p {
  font-size: 14px;
  font-family: "Fira-Light";
  color: #8a8a8a;
}

li a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Fira-Bold";
  color: #8a8a8a;
  border: none;
}

.footer-item-block {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Fira-Bold";
  color: #8a8a8a;
}

.list-fb,
.list-tw,
.list-insta,
.list-spotify {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.list-fb {
  background-image: url("../img/fb.png");
}

.list-tw {
  background-image: url("../img/tw.png");
}

.list-insta {
  background-image: url("../img/insta.png");
}

.list-spotify {
  background-image: url("../img/spotify.png");
}

input[type="email"] {
  max-width: 478px;
  background-color: #4d4e52;
  border: none;
  color: #fff;
  padding: 15px 10px;
}

input[type="email"]::placeholder {
  font-size: 14px;
  font-family: "Fira-Light";
}
